project:
  type: book

book:
  title: "Introduction to Statistics and Data Science"
  author: 
    - Elizabeth Tipton 
    - Arend M Kuyper
    - Danielle Sass
    - Kaitlyn G. Fitzgerald
    - Adapted from ModernDive by 
    - Chester Ismay and Albert Y. Kim
  # comments:
  #   hypothesis: true
  downloads: [pdf]
  date: today
  date-format: iso
  # reader-mode: true
  site-url: https://nustat.github.io/intro-stat-data-sci/
  repo-url: https://github.com/NUstat/intro-stat-data-sci
  repo-branch: main
  repo-actions: [edit, issue]
  sharing: [twitter, facebook, linkedin]
  
  sidebar:
    search: true
    logo: "images/logos/StatisticsDataScience-LogoSemi-VertPurple.png"
    logo-href: "https://statistics.northwestern.edu/"

  chapters:
    - index.qmd
    - preface.qmd

    - part: Getting started
      chapters:
      - 01-getting-started.qmd
    
    - part: Data Exploration via the tidyverse
      chapters:
      - 02-visualization.qmd
      - 03-wrangling.qmd
      - 04-tidy.qmd
    
    - part: Data Modeling
      chapters:
      - 05-regression.qmd
      - 06-multiple-regression.qmd
    
    - part: Statistical Theory
      chapters:
      - 07-causality.qmd
      - 08-populations.qmd
      - 09-sampling-distributions.qmd
      
    - part: Statistical Inference
      chapters:
      - 10-confidence-intervals.qmd
      - 11-p-values.qmd
      - 12-hypothesis-tests.qmd
      - 13-putting-together.qmd
      - text: "---"
      - references.qmd
  
  appendices:
  - 0a-statistical-background.qmd
  - 0b-solutions-exercise.qmd
  - 0c-solutions-learning-checks.qmd

bibliography:
  - bib/references.bib
  - bib/packages.bib
  - bib/articles.bib
  - bib/books.bib
biblio-style: apalike

format:
  html:
    theme: cosmo
    include-in-header: in-line_math_mode.html
  pdf:
    documentclass: scrreprt
    # include-in-header:
    #   - text: |
    #       \usepackage{siunitx}
    #       \usepackage{booktabs}
    #       \usepackage{longtable}

from: markdown+emoji

# execute:
#   tidy: false
#   warning: false
#   fig.align: 'center'
#   fig.height: 4
#   out.width: '\\textwidth'
#   # freeze: auto


